{% extends 'base.html.twig' %}

{% block title %}{{ project.name }}{% endblock %}

{% block body %}
    <h1>{{ project.name }}</h1>
    <a href="{{ path('project_update', {id: project.id}) }}" class="btn btn-light">Update</a>
    <a id="deleteButton" href="{{ path('project_delete', {id: project.id}) }}" class="btn btn-danger delete-project"
       onclick="return confirm('Are you sure?')">Delete</a>
    <hr>
    <p>Project id: {{ project.id }}</p>
    <p>Person in charge: {{ project.personInCharge }}</p>
    <p>Keep amount: {{ project.keepAmount }}</p>


    {% if project.connections.count %}
        <h3>Connections</h3>
        <table class="table table-striped">
        <thead>
        <tr>
            <th>Username</th>
            <th>Host Name</th>
            <th>Port</th>
        </tr>
        </thead>
        <tbody>
        {% for connection in project.connections %}
            <tr>
                <td>{{ connection.username }}</td>
                <td>{{ connection.dbHostName }}</td>
                <td>{{ connection.port }}</td>
            </tr>
        {% endfor %}
    {% else %}
        <p>No Connections to display</p>
    {% endif %}
    </tbody>
    </table>

    {% if project.bDatabases.count %}
        <h3>Databases</h3>
        <table class="table table-striped">
        <thead>
        <tr>
            <th>Name</th>
            <th>Username</th>
            <th>Driver</th>
            <th>Port</th>
            <th>DB Scheme</th>
        </tr>
        </thead>
        <tbody>
        {% for bDatabase in project.bDatabases %}
            <tr>
                <td>{{ bDatabase.serverName }}</td>
                <td>{{ bDatabase.username }}</td>
                <td>{{ bDatabase.driver }}</td>
                <td>{{ bDatabase.port }}</td>
                <td>{{ bDatabase.dbSchema }}</td>
            </tr>
        {% endfor %}
    {% else %}
        <p>No Databases to display</p>
    {% endif %}
    </tbody>
    </table>


    {% if project.bDatas.count %}
        <h3>Data</h3>
        <table class="table table-striped">
        <thead>
        <tr>
            <th>Source</th>
            <th>Destination</th>
        </tr>
        </thead>
        <tbody>
        {% for bData in project.bDatas %}
            <tr>
                <td>{{ bData.sourceDirectory }}</td>
                <td>{{ bData.destinationDirectory }}</td>
            </tr>
        {% endfor %}
    {% else %}
        <p>No Data to display</p>
    {% endif %}
    </tbody>
    </table>



    <hr>
    <a href="{{ path('project_list') }}">Go Back</a>
{% endblock %}


