{% extends 'base.html.twig' %}

{% block title %}{{ project.name }}{% endblock %}

{% block body %}
    <h1>Project name: {{ project.name }}</h1>
    <a href="/project/update/{{ project.id }}" class="btn btn-light">Edit</a>
    <a href="#" class="btn btn-danger delete-article" data-id="{{ project.id }}">Delete</a>
    <hr>
    <p>Project id: {{ project.id }}</p>
    <p>Person in charge: {{ project.personInCharge }}</p>
    <p>Keep amount: {{ project.keepAmount }}</p>


    <hr>
    <a href="{{ path('project_list') }}">Go Back</a>
{% endblock %}

